<div class="row">
  <div *ngIf="success" class="alert alert-success" role="alert">
      {{alertMessage}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <img src="../../assets/icons/{{type}}.png" style="max-width: 50px;" class="img-thumbnail">
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h3>Where ? : </h3> {{ address }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Reported By : </h3> <p>{{ name }}</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">
        <h3>Response Area : </h3> <p>{{respAreaName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Additional Info : </h3> <p>{{additionalInfo}}</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">
        <h3>When ? : </h3> <p>{{ startDateTime }}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h3>Current Status : </h3> <p>Active</p>
        </div>
    </div>  
  </div>
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">{{ count }}</span>
        <h3>Total Responders</h3>
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">{{ userResponse }}</span>
        <h3>Your Response</h3>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
      <p-toolbar>
          <div class="ui-toolbar-group-left">
              <button pButton type="button" label="en Route" icon="fa-taxi" (click)="updateStatus('en Route')"></button>
              <button pButton type="button" label="On Scene" icon="fa-thumbs-up" class="ui-button-success" (click)="updateStatus('On Scene')"></button>
              <button pButton type="button" label="Unavailable" icon="fa-thumbs-down" class="ui-button-danger" (click)="updateStatus('Unavailable')"></button>
          </div>
          <div class="ui-toolbar-group-right" *ngIf="resolveVisible">
              <button pButton type="button" label="Resolve Emergency" icon="fa-check" class="ui-button-warning"></button>
          </div>
      </p-toolbar>
  </div>
</div>