<div class="row">
  <div class="col-md-1">
    <img src="../../assets/icons/{{type}}.png" style="max-width: 50px;" class="img-thumbnail">
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h3>Where ? : </h3> {{ address }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Reported By : </h3> <p>{{ name }}</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">
        <h3>Response Area : </h3> <p>{{respAreaName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Additional Info : </h3> <p>{{additionalInfo}}</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">
        <h3>When ? : </h3> <p>{{ startDateTime }}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h3>Current Status : </h3> <p>test</p>
        </div>
    </div>  
  </div>
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">100</span>
        <h3>Total Responders</h3>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
      <p-toolbar>
          <div class="ui-toolbar-group-left">
              <button pButton type="button" label="en Route" icon="fa-taxi"></button>
              <button pButton type="button" label="On Scene" icon="fa-thumbs-up" class="ui-button-success"></button>
              <button pButton type="button" label="Unavailable" icon="fa-thumbs-down" class="ui-button-danger"></button>
          </div>
          <div class="ui-toolbar-group-right">
              <button pButton type="button" label="Resolve Emergency" icon="fa-check" class="ui-button-warning"></button>
          </div>
      </p-toolbar>
  </div>
</div>