<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink = "/">Emergency Response</a>
        <div class="nav navbar-collapse">
            <ul class="nav navbar-nav" style="float: none;">           
                <li style="float:right;">
                  <a routerLink = "/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="badge">0</span>
                  </a>
                </li>
                <li style="float:right;">
                  <a routerLink="/location" style="padding-top: 0px; padding-bottom: 0px;">
                    <img src="../../assets/icons/AlertHeader.png">
                  </a>
                </li>               
            </ul>
        </div>
    </div>
</nav>

