<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink = "/">Emergency Response</a>
        <div class="nav navbar-collapse">
          <ul class="nav navbar-nav" style="float: none;">
            <li class="nav-item dropdown" style="float:right;">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="badge">0</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="">LogOut</a>              
              </div>
            </li>
            <li style="float:right;">
              <a routerLink="/location" class="create-alert">
                <img class="create-alert-img" src="../../assets/icons/Alert.png">
              </a>
            </li>
          </ul>
        </div>
    </div>
</nav>
