<div class="header-body">
<div class="background-container"> 
  <div class="inner-container">
    <h1 class="inner-container-header">Log In</h1>
    <input class="form-textbox username" type="text" [(ngModel)]="email" placeholder="Email Address" />
    <input class="form-textbox password" type="password" [(ngModel)]="password" placeholder="Password" />
    <button class="button-base primary-button" type="button" pButton (click)="login()">Sign In</button>
    <button class="button-base ui-button-secondary" type="button" pButton routerLink="/register">Register</button>
  </div>
</div>
</div>
