.header-body {
  background: url("../../assets/icons/background.jpg") repeat;
  background-position: center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  height: calc(100vh - 48px);
  margin-top: -25px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.background-container {
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 22px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 6px 22px 0 rgba(0,0,0,0.2);
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.2);
  border: 1px solid #3b3d40;
  border-radius: 3px;
  background-color: #fff;
}

.inner-container {
  padding: 10px 16px 16px;
  margin: 10px auto;
  max-width: 480px;
  width: calc(100% - 10px);
  min-width: 360px;
}

.inner-container-header {
  text-align: center;
  color: #3b3d40;
}

.username {
  background-image: url("../../assets/icons/user.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 8px;
  padding: 0 0 0  45px;
  font-size: 16px;
  color: #3b3d40;
}

.password {
  background-image: url("../../assets/icons/lock.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 8px;
  padding: 0 0 0  45px;
  font-size: 16px;
  color: #3b3d40;
}

.login-error {
  font-size: 18px;
  font-weight: 900;
  color: red;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .background-container {
    margin: 90px auto 0;
    max-width: 600px;
    min-width: 400px;
  }

  .inner-container {
    padding: 10px 30px 16px;
    margin: 10px auto 0;
  }
}

.alert-msg{
  text-align: center;
}
