<!--<div>
  <div class="inner-container">
    <input class="username" type="text" name="username" placeholder="Email Address" [(ngModel)]="email" />
    <input class="password" type="password" name="password" placeholder="Password" [(ngModel)]="password" />
  </div>
    <button type="button" pButton icon="fa-check" (click)="login()" label="Login"></button>
    <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
</div>-->
<div class="header-body">
<div class="background-container"> 
  <div class="inner-container">
    <h1 class="inner-container-header">Log In</h1>
    <input class="username" type="text" [(ngModel)]="email" placeholder="Email Address" />
    <input class="password" type="password" [(ngModel)]="password"  placeholder="Password" />
    <button class="submit-button" type="button" pButton (click)="login()">Sign In</button> 
    <a style="cursor: pointer;" (click)="navigateToSignup()">New User? Signup</a> 
  </div>
</div>
</div>
