<div class="header-body">
  <div class="background-container">
    <div *ngIf="regSuccess" class="alert alert-success" role="alert">
      {{AlertMsg}}
    </div>
    <form [formGroup]="form" (ngSubmit)="login()" class="inner-container">
      <div *ngIf="error" class="login-error">Incorrect credentials. Please try again.</div>
      <h1 class="inner-container-header">Log In</h1>
      <input class="form-textbox username" type="text" formControlName="email" [(ngModel)]="email" placeholder="Email Address" />
      <p class="help-block errorMsg" *ngIf="form.get('email').touched && form.get('email').invalid">{{missingEmail}}</p>
      <input class="form-textbox password" type="password" formControlName="password" [(ngModel)]="password" placeholder="Password" />
      <p class="help-block errorMsg" *ngIf="form.get('password').touched && form.get('password').invalid">{{missingPassword}}</p>
      <button class="button-base primary-button" type="submit" pButton>Sign In</button>
      <button class="button-base ui-button-secondary" type="button" pButton routerLink="/register">Register</button>
    </form>
  </div>
</div>
