
<div>
  <div class="container-fluid" style="text-align: center; margin-top: 30px;">
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{AlertMsg}}
    </div>
    <div style="margin-top: 20px;">
      <label>Response Area</label>
      <p-autoComplete [(ngModel)]="area" [suggestions]="filteredAreas" (completeMethod)="filterAreas($event)" [size]="30"
                      [minLength]="1" placeholder="">
      </p-autoComplete>
    </div>
    <div style="margin-top: 30px;">
      <label>Emergency</label>
      <div style="margin-top: 15px; margin-left: 30px;">
        <p-selectButton [options]="emergencies" [(ngModel)]="selectedEmergency">
          <ng-template let-item>
            <div style="padding: .5em 1em">
              <img style="vertical-align: middle; margin-right: .5em" src="assets/icons/{{item.flag}}" height="20px" />
              <span>{{item.name}}</span>
            </div>
          </ng-template>
        </p-selectButton>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" style="margin-top: 50px;" (click)=SendLoc() [disabled]="!EmCreate">Share Location</button>
    </div>
    <div *ngIf="addDet">
      <div style="margin-top: 30px;">
        <div><label>Location Details</label></div>
        <textarea rows="5" cols="25" [(ngModel)]="LocDet"></textarea>
      </div>
      <div>
        <button class="btn btn-primary" style="margin-top: 30px;" (click)=UpdAlert()>Update</button>
      </div>
    </div>
  </div>
</div>
