<form [formGroup]="form" (ngSubmit)="SendLoc()">
    <div>
    <div class="container-fluid" style="text-align: center; margin-top: 20px;">
      <div *ngIf="success" class="alert alert-success" role="alert">
        {{AlertMsg}}
      </div>
      <div style="margin-top: 20px;">
        <label>Response Area</label>
        <p-dropdown [options]="areas" 
        placeholder="Select an Area" 
        optionLabel="name" [showClear]="true" formControlName = "selectedArea"></p-dropdown>
        <p class="help-block errorMsg" *ngIf ="form.get('selectedArea').touched && form.get('selectedArea').invalid">{{missingArea}}</p>
      </div>
      <div style="margin-top: 50px;">
        <label>Emergency</label>
        <div style="margin-top: 15px; margin-left: 30px;">
          <p-selectButton [options]="emergencies" formControlName = "selectedEmergency">
            <ng-template let-item>
              <div style="padding: .5em 1em">
                <img style="vertical-align: middle; margin-right: .5em" src="assets/icons/{{item.flag}}" height="20px" />
                <span>{{item.name}}</span>
              </div>
            </ng-template>
          </p-selectButton>
          <p class="help-block errorMsg" *ngIf="form.get('selectedEmergency').touched && form.get('selectedEmergency').invalid">{{missingType}}</p>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" style="margin-top: 50px;" [disabled]="form.invalid || addDet">Share Location</button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="UpdAlert()">
        <div *ngIf="addDet">
          <div style="margin-top: 30px;">
            <div><label>Location Details</label></div>
            <textarea rows="5" cols="25" formControlName="locationDetails"></textarea>
            <p class="help-block errorMsg" *ngIf="updateForm.get('locationDetails').touched && updateForm.get('locationDetails').invalid">{{missingLocationDetails}}</p>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid" style="margin-top: 30px;">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</form>
