<p-panel id="ResponderPanel" header="Responder" [toggleable]="true" [(collapsed)]=collapse [style]="{'margin-bottom':'20px'}">
  <div style="margin-top: 30px;">
    <div>
      <label class="col-sm-2 col-form-label resLabels">First Name</label>
      <input type="text" class="form-control resInputs" [(ngModel)]="fname" />
      <p class="errorMsg">{{missingFirstName}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resLabels">Last Name</label>
      <input type="text" class="form-control resInputs" [(ngModel)]="lname" />
      <p class="errorMsg">{{missingLastName}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resLabels">Username</label>
      <input type="text" class="form-control resInputs" [(ngModel)]="uname" />
      <p class="errorMsg">{{missingUserName}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resLabels">Response Area</label>
      <span class="mulitselect"><p-multiSelect [options]="areas" [(ngModel)]="selectedAreas" [panelStyle]="{minWidth:'12em'}" defaultLabel="Select Response Area"></p-multiSelect></span>
      <p class="errorMsg">{{missingRespArea}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resLabels">Email</label>
      <input type="text" class="form-control resInputs" [(ngModel)]="email" />
      <p class="errorMsg">{{missingEmail}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resLabels">Confirm Email</label>
      <input type="text" class="form-control resInputs" [(ngModel)]="cemail" />
      <p class="errorMsg">{{missingCEmail}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resLabels">Phone</label>
      <input type="text" class="form-control resInputs" [(ngModel)]="phone" />
      <p class="errorMsg">{{missingPhone}}</p>
    </div>
  </div>
  <button pButton type="button" icon="fa-plus" label="Add" class="ui-button-primary resAddBtn" style="margin-bottom: 15px;" (click)=AddResponder()></button>
  <button pButton type="button" label="Clear" class="ui-button-secondary resAddBtn" (click)=reset()></button>
</p-panel>
