<p-panel id="ResAreaPanel" header="Response Area" [toggleable]="true" [(collapsed)]=collapse [style]="{'margin-bottom':'20px'}">
  <div style="margin-top: 30px;">
    <div>
      <label class="col-sm-2 col-form-label resAreaLabels">Area</label>
      <input type="text" class="form-control resAreaInputs" [(ngModel)]="area" />
      <p class="errorMsg">{{missingArea}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resAreaLabels">Address</label>
      <input type="text" class="form-control resAreaInputs" [(ngModel)]="address" />
      <p class="errorMsg">{{missingAddr}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resAreaLabels">City</label>
      <input type="text" class="form-control resAreaInputs" [(ngModel)]="city" />
      <p class="errorMsg">{{missingCity}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resAreaLabels">State</label>
      <input type="text" class="form-control resAreaInputs" [(ngModel)]="state" />
      <p class="errorMsg">{{missingState}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resAreaLabels">Zip</label>
      <input type="text" class="form-control resAreaInputs" [(ngModel)]="zip" />
      <p class="errorMsg">{{missingZip}}</p>
    </div>
    <div>
      <label class="col-sm-2 col-form-label resAreaLabels">Description</label>
      <textarea rows="5" cols="30" class="form-control resAreaInputs" [(ngModel)]="desc"></textarea>
    </div>
  </div>
  <button pButton type="button" icon="fa-plus" label="Add" class="ui-button-primary resAreaAddBtn" (click)=AddResArea()></button>
  <button pButton type="button" label="Clear" class="ui-button-secondary resAreaAddBtn" (click)=reset()></button>
</p-panel>
