<p-panel id="ResAreaPanel" header="Response Area" [toggleable]="true" [(collapsed)]=collapse [style]="{'margin-bottom':'20px'}">
  <div style="margin-top: 30px;">
    <div>
      <label>City</label>
      <input type="text" class="form-control" [(ngModel)]="area" />
      <p class="errorMsg">{{missingArea}}</p>
    </div>
    <div>
      <label>Address</label>
      <input type="text" class="form-control" [(ngModel)]="address" />
      <p class="errorMsg">{{missingAddr}}</p>
    </div>
    <div>
      <label>City</label>
      <input type="text" class="form-control" [(ngModel)]="city" />
      <p class="errorMsg">{{missingCity}}</p>
    </div>
    <div>
      <label>State</label>
      <input type="text" class="form-control" [(ngModel)]="state" />
      <p class="errorMsg">{{missingState}}</p>
    </div>
    <div>
      <label>Zip</label>
      <input type="text" class="form-control" [(ngModel)]="zip" />
      <p class="errorMsg">{{missingZip}}</p>
    </div>
    <div>
      <label style="display: block">Description</label>
      <textarea rows="5" cols="50" pInputTextarea [(ngModel)]="desc"></textarea>
    </div>
  </div>
  <button pButton type="button" icon="fa-plus" label="Add" class="ui-button-info" style="margin-bottom: 15px;" (click)=AddResArea()></button>
</p-panel>
