<div class="register-page">
  <form [formGroup]="form" class="registration-form" (ngSubmit)="AddUser()">
    <div class="form-row">
      <div>
        <label class="col-sm-2 col-form-label form-label resLabels">First Name</label>
        <input type="text" class="form-control form-textbox resInputs" formControlName="firstname" [(ngModel)]="user.firstName" />
        <p class="help-block errorMsg" *ngIf="form.get('firstname').touched && form.get('firstname').invalid">{{missingFirstName}}</p>
      </div>
      <div>
        <label class="col-sm-2 col-form-label form-label resLabels">Last Name</label>
        <input type="text" class="form-control form-textbox resInputs" formControlName="lastname" [(ngModel)]="user.lastName" />
        <p class="help-block errorMsg" *ngIf="form.get('lastname').touched && form.get('lastname').invalid">{{missingLastName}}</p>
      </div>    
      <div>
        <label class="col-sm-2 col-form-label form-label response-area-label resLabels">Response Area</label>
        <div><p-multiSelect [options]="areas" formControlName="responseareas" [(ngModel)]="user.responseAreas" [panelStyle]="{minWidth:'15em'}" defaultLabel="Select Response Area"></p-multiSelect></div>
        <p class="help-block errorMsg" *ngIf="form.get('responseareas').touched && form.get('responseareas').invalid">{{missingResponseAreas}}</p>
      </div>
      <div>
        <label class="col-sm-2 col-form-label form-label resLabels">Email</label>
        <input type="text" class="form-control form-textbox resInputs" formControlName="email" [(ngModel)]="user.email" />
        <p class="help-block errorMsg" *ngIf="form.get('email').touched && form.get('email').invalid">{{missingEmail}}</p>
      </div>
      <div>
        <label class="col-sm-2 col-form-label form-label resLabels">Phone</label>
        <input type="text" class="form-control form-textbox resInputs" formControlName="cellnumber" [(ngModel)]="user.cellNumber" />
        <p class="help-block errorMsg" *ngIf="form.get('cellnumber').touched && form.get('cellnumber').invalid">{{missingPhone}}</p>
      </div>
      <button class="button-base primary-button" type="submit" pButton [disabled]="form.invalid">Submit</button>
      <button class="button-base ui-button-secondary" type="button" pButton (click)="reset()">Cancel</button>
    </div>
  </form>
</div>
